<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Samlovesbooks{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="font-{{ font_size }}{% block body_class %}{% endblock %}">
  {% block header %}{% include "partials/header.html" %}{% endblock %}
  <main class="{% block main_class %}container{% endblock %}">
    {% block content %}{% endblock %}
  </main>
  {% block footer %}{% include "partials/footer.html" %}{% endblock %}
</body>
</html>
